:host {
  width: 100%;
  height: 100%;
}

.outer-container {
  background: linear-gradient(to bottom, #F9F7F4, #E6D7F4, #F9F7F4);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 90%;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid rgba(38, 38, 38, 0.2);
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.logo-container > * {
  margin-right: 1rem;
}

.logo-image {
  background-image: url('../assets/logo.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  align-self: center;
}

.nav-logo {
  background: url('../assets/logo-name.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 14rem;
  height: 3rem;
  align-self: center;
}

.nav-section {
  display: flex;
  align-self: center;
  font-weight: 500;
}

.nav-section > * {
  margin-right: 48px;
  align-self: center;
  cursor: pointer;
}

.nav-login {
  color: #C292F0;
  display: flex;
  flex-direction: row;
  margin-right: 0 !important;
  cursor: pointer;
}

.circle-action {
  height: 2rem;
  width: 2rem;
  background: radial-gradient(#C292F0 0%, #C292F0 40%, rgba(194, 146, 240, 0) 71%);
  margin-right: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-login > * {
  margin-right: 0.6rem;
  align-self: center;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-bottom: 5rem;
}

.logo {
  background-image: url('../assets/background.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40rem;
  height: 40rem;
  z-index: 1000;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 19rem;
  width: 55rem;
  text-align: center;
}

.header {
  font-weight: 700;
    font-size: 6.9rem;
    line-height: 7.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.sub-header {
  width: 50%;
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 400;
  z-index: 1001;
}

.what-we-do-section {
  display: flex;
  flex-direction: row;
  margin-left: 10%;

  .left-section {
    display: flex;
    flex-direction: column;
    width: 35%;

    p {
      font-weight: 400;
      font-size: 2.5rem;
      margin-top: 0rem;
      margin-bottom: 2rem;
    }

    div {
      font-size: 1.3rem;
      line-height: 1.75rem;
    }
  }

  .right-section {
    width: 60%;
    height: 35rem;
    position: relative;

    .facts-line-section {
      width: 15rem;
      height: 15rem;
      background: url('../assets/desktop-facts-line.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 15rem;
      left: 20rem;
    }
  }
}

.circle {
  width: 16rem;
  height: 16rem;
  position: absolute;

  .circle-fact {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    box-shadow: 0px 4px 25px 0px #e6d7f4;
    position: relative;

    .inner-circle {
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      background-color: rgba(230, 215, 244, 0.4);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6.5rem 0 0 -6.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .fact {
        text-align: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
  }
}

.team-section {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 4rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 5rem;
}

.team-header {
  font-weight: 400;
  font-size: 2.5rem;
  margin-left: 10%;
  margin-top: 5rem;
  align-self: flex-start;
}

.team-circle1 {
  height: 48rem;
  width: 48rem;
  border: 1px rgb(0, 0, 0, 0.2) solid;
  border-radius: 50%;
  position: relative;
}

.team-circle2 {
  height: 38rem;
  width: 38rem;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -19rem 0 0 -19rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member-photo {
  width: 7rem;
  height: 7rem;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 25px 0px #e6d7f4;
  background: #ffffff;
  position: absolute;
}

.circle-point {
  background-color: rgba(197, 142, 248, 1);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
}

.logo-circle {
  height: 30rem;
  width: 30rem;
  background: radial-gradient(#E6D7F4 18%, #E6D7F4 20%, rgba(230, 215, 244, 0) 71%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Druk Wide Bold";
  font-size: 3rem;
}

.contact-form {
  border-radius: 3rem;
  width: 60%;
  background-color: #E6D7F4;
  box-shadow: 0px 4px 25px 0px #e6d7f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}

.contact-header {
  margin-top: 3rem;
  font-size: 2.5rem;
}

.contact-sub-header {
  margin-top: 1rem;
  max-width: 30rem;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
  max-width: 35rem;
  width: 100%;
  height: 7.25rem;
  justify-content: space-between;
}

.contact-buttons > * {
  border-radius: 4rem;
  height: 3rem;
  border: 1px solid #262626;
}

.contact-input {
  background: transparent;
  outline: none;
  padding-left: 2rem;
}

.contact-button {
  background: #262626;
  color: #FFFFFF;
}

.footer-header {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 5rem;
  font-size: 2.5rem;
  max-width: 25rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 90%;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(38, 38, 38, 0.2);
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.footer-contacts > * {
  cursor: pointer;
}

.footer-social-networks {
  display: flex;
  flex-direction: row;
}

.footer-social-networks > * {
  margin-right: 1rem;
}

.footer-mail {
  align-self: center;
  text-decoration: none;
  color: #262626;
}


// Mobile styles
.mobile-nav-burger {
  background-image: url('../assets/burger.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.mobile-nav-section {
  display: flex;
  height: 100%;
  background-color: #000000;
  background-image: url('../assets/mobile-nav.svg');
  background-repeat: round;
  background-size: contain;
  color: #FFFFFF;
  padding-left: 10%;
}

.mobile-nav-close {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 3rem;
  top: 3.25rem;
  cursor: pointer;
}

.mobile-nav-links {
  margin-top: 45%;
  display: flex;
  flex-direction: column;
  font-size: 3rem;

  .nav-login {
    .circle-action {
      margin-right: 2rem;
      width: 4rem;
      height: 4rem;
    }
  }
}

.mobile-nav-links > * {
  line-height: 8rem;
  cursor: pointer;
}

.mobile-sub-header {
  width: 70%;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.mobile-facts-section {
  width: 100%;
  height: 140rem;
  position: relative;

  .circle {
    width: 38rem;
    height: 38rem;
    position: absolute;

    .circle-fact {
      width: 100%;
      height: 100%;

      .inner-circle {
        width: 80%;
        height: 80%;
        margin: -40% 0 0 -40%;

        .fact {
          font-size: 3rem;
          line-height: 4rem;
        }
      }
    }
  }

  .mobile-facts-line-section {
    width: 90%;
    height: 58rem;
    background: url('../assets/mobile-facts-line.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 40rem;
    left: 5%;
  }
}

.mobile-nav-footer-contacts {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  line-height: 7rem !important;

  .footer-contacts {
    align-self: flex-start;

    a {
      margin-right: 3rem;

      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

.mobile-nav-footer-mail {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2rem;
}

@media (max-width: 500px) {
  .navbar > * {
    align-self: center;
  }

  .container {
    margin-top: 5rem;
    width: 90%;

    .text-content {
      width: 36rem;
      top: 25rem;

      .header {
        span {
          float: left;
        }
        text-align: right;
        text-align-last: left;
        font-size: 6.5rem;
        line-height: 7rem;
      }

      .sub-header {
        display: none;
      }
    }
  }

  .what-we-do-section {
    margin: 0 5%;

    .left-section {
      width: 100%;

      p {
        font-size: 5rem;
        font-weight: 300;
      }

      div {
        width: 90%;
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    .right-section {
      display: none;
    }
  }

  .team-header {
    margin: 0 5%;
    font-size: 5rem;
    font-weight: 300;
  }

  .team-circle1 {
    border: none;
    width: 40rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .team-circle2 {
      width: 80%;
      height: 80%;
      margin: 0;
      position: unset;

      .logo-circle {
        height: 20rem;
        width: 20rem;
      }
    }
  }


  .contact-form {
    width: 80%;
    padding: 0 5%;

    .contact-header {
      font-size: 4.5rem;
      font-weight: 400;
    }

    .contact-sub-header {
      font-size: 2rem;
      line-height: 3rem;
      max-width: 80%;
    }

    .contact-buttons {
      height: 14rem;

    }

    .contact-buttons > * {
      font-size: 2rem;
      height: 6rem;
    }
  }

  .footer-header {
    margin: 5rem 5% 0;
    font-size: 3.5rem;
    max-width: 73%;
    font-weight: 300;
  }

  .footer {
    margin: 3rem 0 4rem 0;
    flex-direction: column;
    height: unset;

    .footer-contacts {
      margin-top: 3rem;
      flex-direction: column;

      .footer-social-networks > * {
        img {
          height: 6rem;
          width: 6rem;
        }

        margin-right: 2rem;
      }

      .footer-mail {
        font-weight: 500;
        margin-top: 2rem;
      }
    }

    .footer-contacts > * {
      align-self: flex-start;
    }

    .nav-section {
      margin-top: 3rem;

      .nav-login {
        .circle-action {
          height: 4rem;
          width: 4rem;
        }
      }
    }
  }

  .footer > * {
    font-size: 2.5rem;
    align-self: flex-start;
  }
}
