<div class="outer-container">
  <div #navBar class="navbar">
    <div class="logo-container">
      <div class="logo-image"></div>
      <div class="nav-logo"></div>
    </div>
    <div *ngIf="!(isMobile | async)" class="nav-section">
      <div (click)="scroll(projectSection)">About project</div>
      <div (click)="scroll(teamSection)">Team</div>
      <div (click)="scroll(contactForm)">Contacts</div>
      <div class="nav-login"
        (click)="scroll(contactForm)">
        <div>Join us</div>
        <div class="circle-action">
          <img [src]="assetsPath + '/arrow-right.svg'">
        </div>
      </div>
    </div>
    <div
      *ngIf="isMobile | async"
      class="mobile-nav-burger"
      (click)="mobileNavigationClicked = !mobileNavigationClicked; mobileNavigationInitialized = true"
    ></div>
  </div>
  <div class="container">
    <div class="logo"></div>
    <div class="text-content">
      <div class="header">
        <span>The new</span> vision of <span>nft art</span>
      </div>
      <div class="sub-header">
        Explore the best collections from hand-picked digital artists out there and find your gem.
      </div>
    </div>
  </div>
  <div *ngIf="isMobile | async"
     class="mobile-sub-header">
    Explore the best collections from hand-picked digital artists out there and find your gem.
  </div>
  <div class="team-section">
    <div #projectSection class="what-we-do-section">
      <div class="left-section">
        <p>What we do</p>
        <div>
          Delphyne is a digital art marketplace built on blockchain technology that offers true ownership
          and digital scarcity. Delphyne uses NEAR cryptocurrency as the medium of exchange between creators
          and collectors to support cross border transactions.
        </div>
      </div>
      <div class="right-section">
        <div class="circle" [ngStyle]="{top: '10rem', left: '8rem'}">
          <div class="circle-fact">
            <div class="inner-circle">
              <div class="fact">NEAR’s fast (1 to 2 seconds) & budget-friendly transactions</div>
            </div>
          </div>
        </div>

        <div class="circle" [ngStyle]="{top: '0rem', left: '25rem'}">
          <div class="circle-fact">
            <div class="inner-circle">
              <div class="fact">Arts saved securely in Arweave</div>
            </div>
          </div>
        </div>

        <div class="circle" [ngStyle]="{bottom: '1rem', left: '33rem'}">
          <div class="circle-fact">
            <div class="inner-circle">
              <div class="fact">Marketplace fee at 5% per transaction</div>
            </div>
          </div>
        </div>
        <div class="facts-line-section"></div>
      </div>
    </div>
    <div *ngIf="isMobile | async" class="mobile-facts-section">
      <div class="mobile-facts-line-section">
        <div class="circle" [ngStyle]="{top: '-36rem', right: '-8rem'}">
          <div class="circle-fact">
            <div class="inner-circle">
              <div class="fact">NEAR’s fast (1 to 2 seconds) & budget-friendly transactions</div>
            </div>
          </div>
        </div>

        <div class="circle" [ngStyle]="{top: '3rem', left: '-10rem'}">
          <div class="circle-fact">
            <div class="inner-circle">
              <div class="fact" [ngStyle]="{width: '80%'}">Arts saved securely in Arweave</div>
            </div>
          </div>
        </div>

        <div class="circle" [ngStyle]="{bottom: '-26rem', right: '-8rem'}">
          <div class="circle-fact">
            <div class="inner-circle">
              <div class="fact" [ngStyle]="{'text-align': 'left'}">Marketplace fee at 5% per transaction</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div #teamSection class="team-header">Team</div>
    <div class="team-circle1">
      <div class="team-circle2">
        <div class="logo-circle">
          <div class="nav-logo"></div>
        </div>
      </div>
      <ng-container *ngIf="!(isMobile | async)">
        <app-team-member
          *ngFor="let member of teamMembers"
          [isMobile]="false"
          [name]="member.name"
          [role]="member.role"
          [imageUrl]="member.imageUrl"
          [ngStyle]="member.position"
        ></app-team-member>
        <div class="circle-point" [ngStyle]="{
          right: '8rem',
          bottom: '11.5rem'
        }"></div>
        <div class="circle-point" [ngStyle]="{
          right: '6rem',
          top: '15rem'
        }"></div>
        <div class="circle-point" [ngStyle]="{
          left: '5.5rem',
          top: '7rem'
        }"></div>
        <div class="circle-point" [ngStyle]="{
          left: '13rem',
          bottom: '1.5rem'
        }"></div>
      </ng-container>

      <ng-container *ngIf="isMobile | async">
        <app-team-member
          *ngFor="let member of teamMobileMembers"
          [isMobile]="true"
          [name]="member.name"
          [role]="member.role"
          [imageUrl]="member.imageUrl"
          [ngStyle]="member.position"
        ></app-team-member>
      </ng-container>
    </div>
  </div>
  <div #contactForm class="contact-form">
    <div class="contact-header">Get in touch!</div>
    <div class="contact-sub-header">
      Please, provide your email to get notified when the project is launched
    </div>
    <form
     class="contact-buttons"
     (ngSubmit)="sendEmail(mail)">
      <input
        type="text"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        [(ngModel)]="mail"
        [ngModelOptions]="{standalone: true}"
        #prmEmail="ngModel"
        class="contact-input"
        placeholder="Your email">
      <div class="email-error" *ngIf="!prmEmail?.valid && (prmEmail?.dirty || prmEmail?.touched)">
        Email is invalid
       </div>
      <button
        class="contact-button"
        type="submit"
        [disabled]="!prmEmail?.valid">
        <ng-container *ngIf="!mailSendLoading">Send</ng-container>
        <mat-spinner *ngIf="mailSendLoading" [diameter]="30"></mat-spinner>
      </button>
    </form>
  </div>
  <div class="footer-header">
    For any inquiries
    Please contact at:
  </div>
  <div class="footer">
    <div class="footer-contacts">
      <div class="footer-social-networks">
        <a href="https://www.instagram.com/delphyneio" target="_blank"><img [src]="assetsPath + '/instagram.svg'"></a>
        <a href="https://twitter.com/delphyneio" target="_blank"><img [src]="assetsPath + '/twitter.svg'"></a>
        <a href="https://discord.com/users/delphyneio" target="_blank"><img [src]="assetsPath + '/discord.svg'"></a>
      </div>
      <a class="footer-mail" href="mailto:ask@delphyne.io" target="_blank">ask@delphyne.io</a>
    </div>
    <div class="nav-section">
      <div class="nav-login"
        (click)="scroll(navBar)">
        <div>To the top</div>
        <div class="circle-action">
          <img [src]="assetsPath + '/arrow-top.svg'">
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mobileNavSection>
  <div class="mobile-nav-section">
    <img class="mobile-nav-close"
     [src]="assetsPath + '/mobile-nav-close.svg'"
     (click)="mobileNavigationClicked = !mobileNavigationClicked">
    <div class="mobile-nav-links">
      <div (click)="scroll(projectSection, true)">About project</div>
      <div (click)="scroll(teamSection, true)">Team</div>
      <div (click)="scroll(contactForm, true)">Contacts</div>
      <div class="nav-login"
        (click)="scroll(contactForm, true)">
        <div>Join us</div>
        <div class="circle-action">
          <img [src]="assetsPath + '/arrow-right.svg'">
        </div>
      </div>
      <div class="mobile-nav-footer-contacts">
        <div class="footer-contacts">
          <a href="https://www.instagram.com/delphyneio" target="_blank"><img [src]="assetsPath + '/instagram.svg'"></a>
          <a href="https://twitter.com/delphyneio" target="_blank"><img [src]="assetsPath + '/twitter.svg'"></a>
          <a href="https://discord.com/users/delphyneio" target="_blank"><img [src]="assetsPath + '/discord.svg'"></a>
        </div>
        <a class="mobile-nav-footer-mail" href="mailto:ask@delphyne.io" target="_blank">ask@delphyne.io</a>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="(isMobile | async) && mobileNavigationInitialized"
   class="overlay-navigation"
    [class.show-mobile-navigation]="mobileNavigationClicked"
    [class.hide-mobile-navigation]="!mobileNavigationClicked">
  <ng-container *ngTemplateOutlet="mobileNavSection"></ng-container>
</div>
