<div class="outer-container">
  <div class="navbar">
    <div class="nav-logo">LOGO</div>
    <div class="nav-section">
      <div>About project</div>
      <div>Team</div>
      <div>Contacts</div>
      <div class="nav-login">
        <div>Join us</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="logo"></div>
    <div class="text-content">
      <div class="header">
        The new vision of nft art
      </div>
      <div class="sub-header">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras non velit nibh. Phasellus imperdiet, ex quis aliquam faucibus, ante turpis facilisis purus,
        at feugiat turpis dui rhoncus lectus. Nunc accumsan laoreet placerat. Ut in aliquam magna,
      </div>
    </div>
  </div>
  <div class="team-section">

  </div>
</div>
