<div class="outer-container">
  <div class="navbar">
    <div class="nav-logo">LOGO</div>
    <div class="nav-section">
      <div>About project</div>
      <div>Team</div>
      <div>Contacts</div>
      <div class="nav-login">
        <div>Join us</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="logo"></div>
    <div class="text-content">
      <div class="header">
        The new vision of nft art
      </div>
      <div class="sub-header">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras non velit nibh. Phasellus imperdiet, ex quis aliquam faucibus, ante turpis facilisis purus,
        at feugiat turpis dui rhoncus lectus. Nunc accumsan laoreet placerat. Ut in aliquam magna,
      </div>
    </div>
  </div>
  <div class="team-section">
    <div class="team-header">Team</div>
    <div class="team-circle1">
      <div class="team-circle2">
        <div class="logo-circle">
          LOGO
        </div>
      </div>
      <div class="team-member-photo" [ngStyle]="{
        left: '-2rem',
        top: '12rem'
      }"></div>
      <div class="team-member-photo" [ngStyle]="{
        left: '0.5rem',
        top: '34rem'
      }"></div>
      <div class="team-member-photo" [ngStyle]="{
        left: '14rem',
        top: '3rem'
      }"></div>
      <div class="team-member-photo" [ngStyle]="{
        right: '4rem',
        top: '2rem'
      }"></div>
      <div class="team-member-photo" [ngStyle]="{
        right: '-3.5rem',
        top: '21rem'
      }"></div>
      <div class="team-member-photo" [ngStyle]="{
        right: '14rem',
        bottom: '3rem'
      }"></div>
      <div class="circle-point" [ngStyle]="{
        right: '8rem',
        bottom: '11.5rem'
      }"></div>
      <div class="circle-point" [ngStyle]="{
        right: '6rem',
        top: '15rem'
      }"></div>
      <div class="circle-point" [ngStyle]="{
        left: '5.5rem',
        top: '7rem'
      }"></div>
      <div class="circle-point" [ngStyle]="{
        left: '13rem',
        bottom: '1.5rem'
      }"></div>
    </div>
  </div>
  <div class="contact-form">
    <div class="contact-header">Get in touch!</div>
    <div class="contact-sub-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</div>
    <div class="contact-buttons">
      <input
        class="contact-input"
        placeholder="Your email">
      <button class="contact-button">Send</button>
    </div>
  </div>
</div>
